@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-color: #000000;
  opacity: 0.4;
  background-image:  radial-gradient(#ececd4 1.8px, transparent 1.8px), radial-gradient(#ececd4 1.8px, #000000 1.8px);
  background-size: 72px 72px;
  background-position: 0 0,72px 72px;
}